<%- include("header.ejs") %>

<div
    class="w-full text-center flex items-center justify-between lg:justify-center gap-4 px-2 lg:px-0"
>
    <a href="/" class="flex items-center gap-2">
        <img
            src="/images/logo.png"
            alt="Infinity Arcade"
            class="w-6 lg:w-8 opacity-60"
        />
        <div
            href="/"
            class="bg-gradient-to-br from-white to-gray-400 text-transparent bg-clip-text text-center py-4 text-xs lg:text-sm opacity-60 tracking-wider inline-block"
        >
            Infinity Arcade
        </div>
    </a>
    <div class="flex justify-center md:absolute md:right-4">
        <a
            href="/logout"
            class="text-purple-500 hover:text-purple-400 text-xs lg:text-sm"
        >
            Logout
        </a>
    </div>
</div>

<div class="container max-w-4xl mx-auto">
    <div class="text-white max-w-4xl flex flex-col gap-16 py-10">
        <div class="prose flex flex-col gap-4">
            <h1 class="text-4xl font-bold text-purple-500">Account</h1>
            <p>
                <span class="text-purple-200"
                    >Thanks for purchasing <%= user.email %>!</span
                >
            </p>

            <p>
                <img src="/images/checkmark.png" class="h-4 inline-block" />
                We upgraded you to the best model and set your account to
                private. You'll see your games and sessions below. Have fun!
            </p>
        </div>

        <div class="w-full flex flex-col gap-4">
            <div>
                <h2 class="text-xl font-bold text-purple-500">
                    GAME GENERATOR
                </h2>
                <textarea
                    class="w-full h-[150px] p-4 bg-black text-white focus:ring-0 focus:border-0 focus:outline-none"
                    id="game-prompt"
                    placeholder="A group of survivors find themselves stranded on a mysterious and seemingly uninhabited island after their commercial airplane crashes in the South Pacific. As they struggle to survive and find a way to escape, they discover that the island is not as deserted as it initially appears."
                ></textarea>
            </div>
            <button
                class="bg-purple-500 text-white px-4 py-2 rounded w-full"
                id="generate-game"
            >
                Generate Game
            </button>
        </div>

        <div class="w-full flex flex-col gap-4">
            <h2 class="text-xl font-bold text-purple-500">GAMES</h2>
            <% if (games.length == 0) { %>
            <div>
                You don't have any games yet. Try the game generator above.
            </div>
            <% } %>
            <!-- -->
            <% for (const game of games) { %>
            <a
                href="/<%= game.slug %>"
                class="flex items-center gap-4 text-white/80 hover:text-white"
            >
                <img
                    src="/api/game/<%= game.slug %>/art?size=50"
                    class="w-8 h-8 rounded-lg"
                />
                <%= game.title %>
            </a>
            <% } %>
        </div>

        <div class="w-full flex flex-col gap-4">
            <h2 class="text-xl font-bold my-4 text-purple-500">SESSIONS</h2>
            <% if (chats.length == 0) { %>
            <p>
                You don't have any sessions yet. Try starting a new game and
                you'll see it show up here.
            </p>
            <% } %>
            <!-- -->

            <% if (chats.length > 0) { %>
            <table>
                <!-- -->
                <% for (const chat of chats) { %>
                <tr class="">
                    <td class="w-12 align-middle pb-6">
                        <img
                            src="/api/game/<%= chat.Game.slug %>/art?size=50"
                            class="w-8 h-8 rounded-lg"
                        />
                    </td>
                    <td class="px-4 pb-6 pt-0 align-middle">
                        <a
                            href="/<%- chat.Game.slug %>?parent_id=<%- chat.id %>&chat_id=<%- chat.dataValues.mostRecentChatId %>&action=resume"
                        >
                            <%= chat.Game.title %>
                        </a>
                    </td>
                    <td
                        class="whitespace-nowrap px-4 pb-6 pt-0 text-xs text-right align-middle"
                    >
                        <div><%= chat.dataValues.childCount %> turns</div>
                        <div><%= chat.dataValues.relativeTime %></div>
                    </td>
                </tr>
                <% } %>
                <!-- -->
            </table>
            <% } %>
        </div>

        <div class="w-full flex flex-col gap-4">
            <h2 class="text-xl font-bold my-4 text-purple-500">SETTINGS</h2>
            <div class="flex flex-col gap-4">
                <div>
                    <input type="radio" class="model-select accent-purple-500
                    cursor-pointer peer/radio1" id="radio1" name="model"
                    value="gpt-4" <% if (user.model == "gpt-4") { %>checked<% }
                    %> />
                    <label
                        for="radio1"
                        class="peer-checked/radio1:text-purple-500 cursor-pointer"
                    >
                        gpt-4 (best engine, slower)
                    </label>
                </div>

                <div>
                    <input <input type="radio" class="model-select
                    accent-purple-500 cursor-pointer peer/radio2" id="radio2"
                    name="model" value="gpt-3.5-turbo" <% if (user.model ==
                    "gpt-3.5-turbo") { %>checked<% } %> />
                    <label
                        for="radio2"
                        class="peer-checked/radio2:text-purple-500 cursor-pointer"
                    >
                        gpt-3.5-turbo (fast, worse engine)
                    </label>
                </div>
                <br />
                <div>
                    <input type="checkbox" class="privacy-select
                    accent-purple-500 cursor-pointer peer/radio1" id="checkbox1"
                    name="model" <% if (user.private == true) { %>checked<% } %>
                    />
                    <label
                        for="checkbox1"
                        class="peer-checked/radio1:text-purple-500 cursor-pointer"
                    >
                        Private
                    </label>
                </div>
            </div>
        </div>

        <p>
            Send bugs &amp; feature requests to
            <a href="mailto:hello@themaximalist.com">hello@themaximalist.com</a>
        </p>
    </div>
</div>
<script>
    document.addEventListener("ia-loaded", (e) => {
        const selects = document.querySelectorAll(".model-select");
        for (const select of selects) {
            select.onchange = async (e) => {
                if (!e || !e.target || e.target.checked == false) {
                    return;
                }

                const model = e.target.value;

                try {
                    const response = await window.ia.api.updateAccount({
                        model,
                    });

                    if (response !== true) {
                        throw new Error("Error updating model");
                    }
                } catch (e) {
                    alert("Error updating model");
                }
            };
        }

        const privacy = document.querySelector(".privacy-select");
        privacy.onchange = async (e) => {
            if (!e || !e.target) {
                return;
            }

            const private = e.target.checked;

            try {
                const response = await window.ia.api.updateAccount({ private });

                if (response !== true) {
                    throw new Error("Error updating privacy");
                }
            } catch (e) {
                alert("Error updating privacy");
            }
        };

        const gamePrompt = document.getElementById("game-prompt");
        const generateGame = document.getElementById("generate-game");
        generateGame.onclick = async (e) => {
            const prompt = gamePrompt.value;
            const url = `/generate?prompt_text=${encodeURIComponent(prompt)}`;
            window.open(url, "_newtab");
        };
    });
</script>
<%- include("scripts.ejs") %>
<!-- -->
<%- include("footer.ejs") %>
