<%- include("header.ejs") %>

<div class="w-full text-center flex items-center justify-between lg:justify-center gap-4 px-2 lg:px-0">
    <a href="/" class="flex items-center gap-2">
        <img src="/images/logo.png" alt="Infinity Arcade" class="w-6 lg:w-8 opacity-60" />
        <div href="/" class="bg-gradient-to-br from-white to-gray-400 text-transparent bg-clip-text text-center py-4 text-xs lg:text-sm opacity-60 tracking-wider inline-block">
            Infinity Arcade
        </div>
    </a>
</div>

<div class="container mx-auto text-white max-w-4xl my-4 mt-8 lg:mt-20 px-4 flex flex-col gap-8">
    <div>
        <h1 class="text-2xl lg:text-4xl font-bold my-4 text-yellow-500">
            <%= title %>
        </h1>
        <span class="text-yellow-200"><%= description %></span>
    </div>
    <div class="prose prose-invert py-2 flex flex-col gap-6 leading-relaxed article-content">
        <%- content %>
    </div>
    <div class="text-sm text-gray-400">
        Published on <%= new Date(publishedAt).toLocaleDateString() %> by <%= author %>
    </div>
</div>

<%- include("scripts.ejs") %>
<%- include("footer.ejs") %>
