<%- include("header.ejs") %>

<div class="w-full text-center flex items-center justify-between lg:justify-center gap-4 px-2 lg:px-0">
    <a href="/" class="flex items-center gap-2">
        <img src="/images/logo.png" alt="Infinity Arcade" class="w-6 lg:w-8 opacity-60" />
        <div href="/" class="bg-gradient-to-br from-white to-gray-400 text-transparent bg-clip-text text-center py-4 text-xs lg:text-sm opacity-60 tracking-wider inline-block">
            Infinity Arcade
        </div>
    </a>
</div>

<% if (typeof search === "undefined") { %>
<div class="text-white">
    <form id="search-form" class="flex justify-center" method="get" action="/games">
        <input type="text" name="search" class="bg-transparent text-white w-96 text-center text-sm focus:border-0 focus:ring-0 focus:outline-none" placeholder="Search..." />
        <input type="submit" value="Search" class="text-sm opacity-50 hover:opacity-100 transition-opacity cursor-pointer hidden" />
    </form>
</div>
<% } %>

<div class="text-center mt-3 flex gap-6 justify-center">
    <a href="/games" class="text-white text-sm opacity-50 hover:opacity-100 transition-opacity">Games</a>
    <a href="/genres" class="text-white text-sm opacity-50 hover:opacity-100 transition-opacity">Genres</a>
    <a href="/subgenres" class="text-white text-sm opacity-50 hover:opacity-100 transition-opacity">Subgenres</a>
</div>

<div class="container mx-auto text-white max-w-6xl my-4 mt-20 px-4">
    <h1 class="text-4xl font-bold my-4 text-purple-500">
        <% if (search) { %>
        <span><%= search %> Games (<%= totalGames %>)</span>
        <% } else { %>
        <span>All Games (<%= totalGames %>)</span>
        <% } %>
    </h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
        <% games.forEach((game) => { %>
        <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg transition-transform duration-300 hover:scale-105 relative group">
            <a href="/<%= game.slug %>" class="block">
                <img src="/images/art/<%= game.id%>-256.png" class="w-full h-48 object-cover" alt="<%- game.title %>" />
                <div class="p-4">
                    <h2 class="text-lg font-bold mb-2 truncate" style="color: <%- game.primary_color %>"><%- game.title %></h2>
                    <div class="w-full text-xs text-gray-400 truncate">
                        <span class="" title="<%- game.genre %>">
                            <a href="/genres/<%= locals.slugify(game.genre) %>" class="hover:text-gray-200"><%- game.genre %></a>
                        </span>
                        <span class="" title="<%- game.subgenre %>">
                            <a href="/subgenres/<%= locals.slugify(game.subgenre) %>" class="hover:text-gray-200"><%- game.subgenre %></a>
                        </span>
                    </div>
                    <div class="absolute bottom-0 left-0 right-0 bg-gray-800 p-4 transform translate-y-full group-hover:translate-y-0 transition-transform duration-300 ease-in-out">
                        <p class="text-xs text-gray-300"><%- game.description.substring(0, 100) %>...</p>
                    </div>
                </div>
            </a>
        </div>
        <% }) %>
    </div>
        <% let numPages = Math.ceil(totalGames / limit); %>
        <!-- -->
        <% if (numPages > 1) { %>
        <div id="pages" class="flex gap-4 my-8 flex-wrap">
            <% for (let i = 1; i <= numPages; i++) { %>
            <!-- -->
            <% if (i == page) { %>
            <div class="text-purple-400" href="/games?page=<%= i %>">
                <%= i %>
            </div>
            <% } else { %>
            <!-- -->
            <% if (search) { %>
            <a href="/games?search=<%= search %>&page=<%= i %>"><%= i %></a>
            <% } else { %>
            <a href="/games?page=<%= i %>"><%= i %></a>
            <% } %>
            <!-- -->
            <% } %>
            <!-- -->
            <% } %>
        </div>
        <% } %>
    </div>
</div>
<%- include("scripts.ejs") %>
<!-- -->
<%- include("footer.ejs") %>