<%- include("header.ejs") %>

<div
    class="w-full text-center flex items-center justify-between lg:justify-center gap-4 px-2 lg:px-0"
>
    <a href="/" class="flex items-center gap-2">
        <img
            src="/images/logo.png"
            alt="Infinity Arcade"
            class="w-6 lg:w-8 opacity-60"
        />
        <div
            href="/"
            class="bg-gradient-to-br from-white to-gray-400 text-transparent bg-clip-text text-center py-4 text-xs lg:text-sm opacity-60 tracking-wider inline-block"
        >
            Infinity Arcade
        </div>
    </a>
</div>

<% if (typeof search === "undefined") { %>
<div class="text-white">
    <form
        id="search-form"
        class="flex justify-center"
        method="get"
        action="/games"
    >
        <input
            type="text"
            name="search"
            class="bg-transparent text-white w-96 text-center text-sm focus:border-0 focus:ring-0 focus:outline-none"
            placeholder="Search..."
        />
        <input
            type="submit"
            value="Search"
            class="text-sm opacity-50 hover:opacity-100 transition-opacity cursor-pointer hidden"
        />
    </form>
</div>
<% } %>

<div class="container mx-auto text-white max-w-4xl my-4 mt-20 px-4">
    <h1 class="text-4xl font-bold my-4 text-purple-500">
        <% if (search) { %>
        <span><%= search %> Games (<%= totalGames %>)</span>
        <% } else { %>
        <span>All Games (<%= totalGames %>)</span>
        <% } %>
    </h1>
    <div class="flex flex-col gap-3">
        <% games.forEach((game) => { %>
        <div class="flex items-center gap-3 flex-wrap">
            <a
                href="/<%= game.slug %>"
                class="flex items-center gap-3"
                style="color: <%- game.primary_color %>"
            >
                <img
                    src="/images/art/<%= game.id%>-50.png"
                    class="w-7 h-7"
                />
                <div><%- game.title %></div>
            </a>
            <a
                href="/games?search=<%= game.genre %>"
                class="text-gray-300 text-sm"
                ><%- game.genre %></a
            >
            <a
                href="/games?search=<%= game.subgenre %>"
                class="text-gray-300 text-sm"
                ><%- game.subgenre %></a
            >
        </div>
        <% }) %> <% let numPages = Math.ceil(totalGames / limit); %>
        <!-- -->
        <% if (numPages > 1) { %>
        <div id="pages" class="flex gap-4 my-8 flex-wrap">
            <% for (let i = 1; i <= numPages; i++) { %>
            <!-- -->
            <% if (i == page) { %>
            <div class="text-purple-400" href="/games?page=<%= i %>">
                <%= i %>
            </div>
            <% } else { %>
            <!-- -->
            <% if (search) { %>
            <a href="/games?search=<%= search %>&page=<%= i %>"><%= i %></a>
            <% } else { %>
            <a href="/games?page=<%= i %>"><%= i %></a>
            <% } %>
            <!-- -->
            <% } %>
            <!-- -->
            <% } %>
        </div>
        <% } %>
    </div>
</div>
<%- include("scripts.ejs") %>
<!-- -->
<%- include("footer.ejs") %>
