<%- include("header.ejs") %>
<div
    class="container mx-auto p-4 flex w-full justify-center mt-20"
    id="videogame"
>
    <a
        href="/"
        class="absolute top-0 text-white text-center py-4 text-[9px] opacity-60 tracking-wider"
    >
        Infinity Arcade
    </a>

    <div
        class="bg-black rounded-lg shadow-lg p-8 text-white flex gap-8 w-full flex-col lg:flex-row-reverse"
    >

        <div class="flex flex-col w-full lg:w-4/12 justify-start items-center overflow-y-scroll h-full gap-4" style="max-height: 800px" id="image-wrapper">
            <div class="mt-44" id="image-loader" <%- (game.image_url ? `style="display: none"` : "") %>>
                <div class="lds-roller text-green-500">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <img
                id="image"
                class="w-full h-full object-cover rounded-md image-hover max-h-96"
                src="/api/art/generate?game_id=<%= game.id %>"
                alt="Scene Image"
            />
        </div>
        <div class="flex flex-col w-full lg:w-8/12">
            <div class="flex flex-col gap-4">
                <h1 class="text-4xl font-bold"
                    style="color: <%= game.primary_color %>"
                    id="title">
                    <%= game.title %>
                </h1>
                <h2
                    id="tagline"
                    style="color: <%= colors[0].background %>"
                    class="text-xl font-bold flex"
                >
                    <%= game.tagline %>
                </h2>
                <div
                    id="genre-wrapper"
                    class="text-xs font-bold text-gray-50 mb-6 flex gap-10 justify-start opacity-70"
                >
                    <span id="genre" class="text-gray-50"
                        >
                        <%= game.genre %>
                        <%= game.subgenre %>
                        Game
                        </span>
                </div>
                <div id="dot-loader" style="display: none" class="dot-animation"><span class="dots"></span></div>
                <div class="text-xl grow overflow-y-scroll flex flex-col gap-4 leading-relaxed whitespace-pre-line" id="text" style="max-height: 400px;"><%= game.description %></div>
            </div>

            <div class="mt-4">
                <ul class="list-none space-y-4">
                    <li id="option1" class="hover:opacity-80 transition-opacity">
                        <button
                            id="button1"
                            style="background-color: <%= colors[1].background %>; color: <%= colors[1].foreground %>;"
                            class="w-full rounded py-4 px-4 shadow-md animate__animated animate__fadeInUp animate__delay-0s animate__faster text-left"
                        >Play <%= game.title %>!</button>
                    </li>
                    <li id="option2" style="display: none" class="hover:opacity-80 transition-opacity">
                        <button
                            id="button2"
                            style="background-color: <%= colors[2].background %>; color: <%= colors[2].foreground %>;"
                            class="w-full opacity-90 rounded py-4 px-4  shadow-md animate__animated animate__fadeInUp animate__delay-0s animate__faster text-left"
                        >Option 1</button>
                    </li>
                    <li id="option3" style="display: none" class="hover:opacity-80 transition-opacity">
                        <button
                            id="button3"
                            style="background-color: <%= colors[3].background %>; color: <%= colors[3].foreground %>;"
                            class="w-full rounded py-4 px-4  shadow-md opacity-0 animate__animated animate__fadeInUp animate__delay-0s animate__faster text-left"
                        >Option 3</button>
                    </li>
                    <li id="option4" style="display: none" class="hover:opacity-80 transition-opacity">
                        <button
                            id="button4"
                            style="background-color: <%= colors[4].background %>; color: <%= colors[4].foreground %>;"
                            class="w-full rounded py-4 px-4  shadow-md opacity-0 animate__animated animate__fadeInUp animate__delay-0s animate__faster text-left"
                        >Option 4</button>
                    </li>
                <li id="chat"
                            class="animate__animated animate__fadeInUp animate__delay-0s animate__faster text-left w-full"
                            style="display: none"
                >

                    <form id="chat-form" class="flex flex-row justify-between gap-4 items-center w-full">
                        <div class="text-gray-500">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.068.157 2.148.279 3.238.364.466.037.893.281 1.153.671L12 21l2.652-3.978c.26-.39.687-.634 1.153-.67 1.09-.086 2.17-.208 3.238-.365 1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
                            </svg>
                        </div>
                        <input id="chat-input"
                        data-gramm="false"
                        data-gramm_editor="false"
                        data-enable-grammarly="false"
                        class="w-full h-24 bg-black text-white focus:ring-0 focus:border-0 focus:outline-none resize-none grow"
                        placeholder="What do you want to say?" />
                        <button type="submit" class="bg-transparent text-gray-300 hover:cursor-pointer focus:ring-0 focus:border-0 focus:outline-none">CHAT</button>
                    </form>
                </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
    const GAME = <%- JSON.stringify(game) %>;
</script>
<%- include("scripts.ejs") %>
<script src="/game.js"></script>
<%- include("footer.ejs") %>
