<%- include("header.ejs") %>

<div class="w-full text-center flex items-center justify-between lg:justify-center gap-4 px-2 lg:px-0">
    <a href="/" class="flex items-center gap-2">
        <img src="/images/logo.png" alt="Infinity Arcade" class="w-6 lg:w-8 opacity-60" />
        <div href="/" class="bg-gradient-to-br from-white to-gray-400 text-transparent bg-clip-text text-center py-4 text-xs lg:text-sm opacity-60 tracking-wider inline-block">
            Infinity Arcade
        </div>
    </a>
</div>

<% if (typeof search === "undefined") { %>
<div class="text-white">
    <form id="search-form" class="flex justify-center" method="get" action="/games">
        <input type="text" name="search" class="bg-transparent text-white w-96 text-center text-sm focus:border-0 focus:ring-0 focus:outline-none" placeholder="Search..." />
        <input type="submit" value="Search" class="text-sm opacity-50 hover:opacity-100 transition-opacity cursor-pointer hidden" />
    </form>
</div>
<% } %>

<div class="text-center mt-3 flex gap-6 justify-center">
    <a href="/games" class="text-white text-sm opacity-50 hover:opacity-100 transition-opacity">Games</a>
    <a href="/genres" class="text-white text-sm opacity-50 hover:opacity-100 transition-opacity">Genres</a>
    <a href="/subgenres" class="text-white text-sm opacity-50 hover:opacity-100 transition-opacity">Subgenres</a>
</div>

<div class="mx-auto text-white my-4 mt-20 px-4">
    <h1 class="text-4xl font-bold my-4 text-purple-500">
        <% if (search) { %>
        <span><%= search.charAt(0).toUpperCase() + search.slice(1) %> Text Games (<%= totalGames %>)</span>
        <% } else { %>
        <span>All Text Games (<%= totalGames %>)</span>
        <% } %>
    </h1>
    <% let num = games.length %>
    <% let j = 0 %>
    <% if (num === 0) { %>
    <div class="text-white text-center my-8">No games</div>
    <% } %>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 max-w-full mx-auto gap-8 md:gap-4 py-2 lg:py-8 sm:px-4">
        <% for (const game of games) { %>
        <a href="/<%- game.slug %>" class="text-white flex flex-col bg-gray-900 rounded-xl shadow-lg transform hover:scale-105 transition-transform duration-200">
            <div class="relative pb-10/16 rounded-xl">
                <img src="/images/art/<%- game.id %>-256.png" alt="<%- game.title %>" class="h-full w-full rounded-t-xl lazy-load min-w-full" />
            </div>
            <div class="flex flex-col h-full gap-1 p-3">
                <div style="color: <%- game.primary_color %>" class="text-xl font-semibold truncate">
                    <%- game.title %>
                </div>
                <div class="text-gray-500 font-medium text-sm italic truncate">
                    <%- game.genre %> <%- game.subgenre %>
                </div>
                <div class="text-sm font-bold mt-2"><%- game.tagline %></div>
            </div>
        </a>
        <% if (++j % 32 == 0 || j == num) { %>
        <a href="/generate" class="generate-card text-white p-4 flex flex-col gap-4 bg-gray-900 rounded-xl shadow-lg transform hover:scale-105 transition-transform duration-200 cursor-pointer">
            <div class="relative pb-10/16 rounded-xl flex items-center justify-center bg-gray-800"></div>
            <div class="flex flex-col h-full gap-1 justify-between items-center">
                <div class="py-16"></div>
                <div class="text-xl font-semibold text-center leading-relaxed">Generate <%= game.genre %> <%= game.subgenre %> Game</div>
                <p class="text-sm mt-44 text-center">
                    infinityarcade.com/any game you can think of
                </p>
            </div>
        </a>
        <% } %> <% } %>
    </div>
        <% let numPages = Math.ceil(totalGames / limit); %>
        <!-- -->
        <% if (numPages > 1) { %>
        <div id="pages" class="flex gap-4 my-8 flex-wrap">
            <% for (let i = 1; i <= numPages; i++) { %>
            <!-- -->
            <% if (i == page) { %>
            <div class="text-purple-400" href="/games?page=<%= i %>">
                <%= i %>
            </div>
            <% } else { %>
            <!-- -->
            <% if (search) { %>
            <a href="/games?search=<%= search %>&page=<%= i %>"><%= i %></a>
            <% } else { %>
            <a href="/games?page=<%= i %>"><%= i %></a>
            <% } %>
            <!-- -->
            <% } %>
            <!-- -->
            <% } %>
        </div>
        <% } %>
    </div>
</div>
<%- include("scripts.ejs") %>
<!-- -->
<%- include("footer.ejs") %>