<%- include("header.ejs") %>
<div
    class="container mx-auto px-3 py-4 flex flex-col w-full justify-center h-full gap-4 lg:mt-3"
    id="videogame"

>
    <div class="w-full flex justify-between items-center h-6">
        <div class="w-full flex items-center gap-2">
            <a href="/" class="flex items-center gap-2">
                <img src="/images/logo.png" alt="Infinity Arcade" class="w-8 opacity-60" />
                <div
                    href="/"
            class="bg-gradient-to-br from-white to-gray-400 text-transparent bg-clip-text text-center py-4 text-sm opacity-60 tracking-wider inline-block"
                >
                    Infinity Arcade
                </div>
            </a>
            <% if (user) { %>
            <a
                href="/account"
                class="ml-2 bg-purple-500/80 hover:bg-purple-500 transition-colors text-white py-1 px-3 rounded-lg text-[10px] inline-block"
                >Account</a
            >
            <% } else { %>
            <a
                href="/pro"
                class="ml-2 bg-purple-500/80 hover:bg-purple-500 transition-colors text-white py-1 px-3 rounded-lg text-[10px] inline-block"
                >GO PRO!</a
            >
            <% } %>
        </div>
        <%- include("radio.ejs") %>
    </div>

    <div
        class="bg-black rounded-lg shadow-lg pb-4 text-white flex gap-8 w-full flex-col lg:flex-row-reverse h-full"
    >

        <div class="flex flex-col w-full justify-start lg:items-center gap-4" id="image-wrapper">
            <div class="mt-44" id="image-loader" <%- (game.image_data ? `style="display: none"` : "") %>>
                <div class="lds-roller text-green-500">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <img
                id="image"
                class="object-cover rounded-md image-hover w-full max-w-lg lg:max-w-xl"
                src="/api/art/generate?game_id=<%= game.id %>"
                alt="Scene Image"
            />
        </div>
        <div class="flex flex-col w-full gap-4">
            <div class="flex flex-col gap-2">
                <h1 class="text-4xl font-bold md:mt-8"
                    style="color: <%= game.primary_color %>"
                    id="title">
                    <%= game.title %>
                </h1>
                <h2
                    id="tagline"
                    style="color: <%= game.primary_color %>"
                    class="text-xl font-bold flex opacity-80"
                >
                    <%= game.tagline %>
                </h2>
                <div
                    id="genre-wrapper"
                    class="text-xs font-bold text-gray-50 mb-6 flex gap-10 justify-start opacity-70"
                >
                    <span id="genre" class="text-gray-50"
                        >
                        <%= game.genre %>
                        <%= game.subgenre %>
                        Game
                        </span>
                </div>
                <div id="dot-loader" style="display: none" class="dot-animation"><span class="dots"></span></div>
                <div class="text-base grow overflow-y-scroll flex flex-col gap-4 leading-relaxed whitespace-pre-line" id="text"><%= game.description %></div>
            </div>

            <div class="">
                <ul class="list-none space-y-2">
                    <li id="option1" class="opacity-100 hover:opacity-80 transition-opacity">
                        <button
                            id="button1"
                            style="background-color: <%= game.primary_color %>; color: <%= contrast_color %>;"
                            class="text-sm w-full rounded py-3 px-4 shadow-md animate__animated animate__fadeInUp animate__delay-0s animate__faster text-left"
                        >Play <%= game.title %>!</button>
                    </li>
                    <li id="option2" style="display: none" class="hover:opacity-80 transition-opacity">
                        <button
                            id="button2"
                            style="background-color: <%= game.primary_color %>; color: <%= contrast_color %>;"
                            class="text-sm w-full opacity-90 rounded py-3 px-4  shadow-md animate__animated animate__fadeInUp animate__delay-0s animate__faster text-left"
                        >Option 1</button>
                    </li>
                    <li id="option3" style="display: none" class="hover:opacity-80 transition-opacity">
                        <button
                            id="button3"
                            style="background-color: <%= game.primary_color %>; color: <%= contrast_color %>;"
                            class="text-sm w-full rounded py-3 px-4  shadow-md opacity-0 animate__animated animate__fadeInUp animate__delay-0s animate__faster text-left"
                        >Option 3</button>
                    </li>
                    <li id="option4" style="display: none" class="hover:opacity-80 transition-opacity">
                        <button
                            id="button4"
                            style="background-color: <%= game.primary_color %>; color: <%= contrast_color %>;"
                            class="text-sm w-full rounded py-3 px-4  shadow-md opacity-0 animate__animated animate__fadeInUp animate__delay-0s animate__faster text-left"
                        >Option 4</button>
                    </li>
                <li id="chat"
                            class="text-left w-full"
                            style="display: none"
                >

                    <form id="chat-form" class="flex flex-row justify-between gap-4 items-center w-full">
                        <img src="/images/chat.png" alt="Chat Icon" class="w-8 h-8 opacity-60" />
                        <input id="chat-input"
                        data-gramm="false"
                        data-gramm_editor="false"
                        data-enable-grammarly="false"
                        autocomplete="off"
                        class="w-full h-12 bg-black text-white focus:ring-0 focus:border-0 focus:outline-none resize-none grow"
                        placeholder="..." />
                        <button type="submit" class="bg-transparent text-gray-300 hover:cursor-pointer focus:ring-0 focus:border-0 focus:outline-none">CHAT</button>
                    </form>
                </li>
                </ul>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("ia-loaded", (e) => {
            window.ia.handleGame(<%- JSON.stringify(game) %>);
            window.ia.handleRadio();
    });
    </script>
</div>
<%- include("scripts.ejs") %>
<%- include("footer.ejs") %>
