<%- include("header.ejs") %>

<div class="w-full text-center flex items-center justify-between lg:justify-center gap-4 px-2 lg:px-0">
    <a href="/" class="flex items-center gap-2">
        <img src="/images/logo.png" alt="Infinity Arcade" class="w-6 lg:w-8 opacity-60" />
        <div href="/" class="bg-gradient-to-br from-white to-gray-400 text-transparent bg-clip-text text-center py-4 text-xs lg:text-sm opacity-60 tracking-wider inline-block">
            Infinity Arcade
        </div>
    </a>
</div>

<% if (typeof search === "undefined") { %>
<div class="text-white">
    <form id="search-form" class="flex justify-center" method="get" action="/genres">
        <input type="text" name="search" class="bg-transparent text-white w-96 text-center text-sm focus:border-0 focus:ring-0 focus:outline-none" placeholder="Search..." />
        <input type="submit" value="Search" class="text-sm opacity-50 hover:opacity-100 transition-opacity cursor-pointer hidden" />
    </form>
</div>
<% } %>

<% let title = "Genres" %>
<div class="text-center mt-3 flex gap-6 justify-center">
    <a href="/games" class="text-white text-sm opacity-50 hover:opacity-100 transition-opacity">Games</a>
    <% if (locals.subgenre) { %>
    <% title = "Subgenres" %>
    <a href="/genres" class="text-white text-sm opacity-50 hover:opacity-100 transition-opacity">Genres</a>
    <% } else { %>
    <a href="/subgenres" class="text-white text-sm opacity-50 hover:opacity-100 transition-opacity">Subgenres</a>
    <% } %>
</div>

<div class="container mx-auto text-white max-w-4xl my-4 mt-20 px-4">
    <h1 class="text-4xl font-bold my-4 text-purple-500">
        <% if (search) { %>
        <span><%= search %> <%= title %> (<%= items.length %>)</span>
        <% } else { %>
        <span>All <%= title %> (<%= items.length %>)</span>
        <% } %>
    </h1>
    <div class="flex flex-col gap-3">
        <% items.forEach((genre) => { %>
        <div class="flex items-center gap-3 flex-wrap">
            <img src="/images/art/<%= genre.id %>-50.png" class="w-7 h-7" />
            <a href="/<%= (locals.subgenre ? "subgenres" : "genres") %>/<%= locals.slugify(genre.item) %>" class="flex items-center gap-3">
                <div><%- genre.item %> <%- genre.count %></div>
            </a>
        </div>
        <% }) %>
    </div>
</div>
<%- include("scripts.ejs") %>
<!-- -->
<%- include("footer.ejs") %>