<%- include("header.ejs") %>

<div class="w-full text-center flex items-center justify-between lg:justify-center gap-4 px-2 lg:px-0">
    <a href="/" class="flex items-center gap-2">
        <img src="/images/logo.png" alt="Infinity Arcade" class="w-6 lg:w-8 opacity-60" />
        <div href="/" class="bg-gradient-to-br from-white to-gray-400 text-transparent bg-clip-text text-center py-4 text-xs lg:text-sm opacity-60 tracking-wider inline-block">
            Infinity Arcade
        </div>
    </a>
</div>

<% if (typeof search === "undefined") { %>
<div class="text-white">
    <form id="search-form" class="flex justify-center" method="get" action="/genres">
        <input type="text" name="search" class="bg-transparent text-white w-96 text-center text-sm focus:border-0 focus:ring-0 focus:outline-none" placeholder="Search..." />
        <input type="submit" value="Search" class="text-sm opacity-50 hover:opacity-100 transition-opacity cursor-pointer hidden" />
    </form>
</div>
<% } %>

<% let title = "Genres" %>
<div class="text-center mt-3 flex gap-6 justify-center">
    <a href="/games" class="text-white text-sm opacity-50 hover:opacity-100 transition-opacity">Games</a>
    <% if (locals.subgenre) { %>
    <% title = "Subgenres" %>
    <a href="/genres" class="text-white text-sm opacity-50 hover:opacity-100 transition-opacity">Genres</a>
    <% } else { %>
    <a href="/subgenres" class="text-white text-sm opacity-50 hover:opacity-100 transition-opacity">Subgenres</a>
    <% } %>
</div>

<div class="container mx-auto text-white max-w-8xl my-4 mt-20 px-4">
    <h1 class="text-4xl font-bold my-4 text-purple-500">
        <% if (search) { %>
        <span><%= search.charAt(0).toUpperCase() + search.slice(1) %> Text Game <%= title %> (<%= items.length %>)</span>
        <% } else { %>
        <span>All Text Game <%= title %> (<%= items.length %>)</span>
        <% } %>
    </h1>
    <div class="gap-6 gap-y-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6">
        <% items.forEach((genre) => { %>
        <div class="">
            <a href="/<%= (locals.subgenre ? "subgenres" : "genres") %>/<%= locals.slugify(genre.item) %>" class="w-full max-w-64 flex flex-col gap-2 relative group">
                <img src="/images/art/<%= genre.id %>-256.png" class="w-full aspect-square object-cover rounded-md group-hover:scale-105 transition-transform duration-200" />
                <h2 class="text-md text-gray-300 truncate group-hover:text-gray-100 transition-colors duration-200">
                    <%- genre.item %>
                </h2>
                <span class="absolute top-1 right-1 bg-gray-900/50 backdrop-blur-sm text-xs px-2 py-1 rounded-md group-hover:opacity-100 opacity-0 transition-opacity duration-200"><%- genre.count %> Games</span>
            </a>
        </div>
        <% }) %>
    </div>
</div>
<%- include("scripts.ejs") %>
<!-- -->
<%- include("footer.ejs") %>