<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/app.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=block"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
        />
        <% if (typeof game !== "undefined") { %>
        <title><%- game.title %> — Infinity Arcade</title>
        <meta name="description" content="<%- game.description %>" />

        <meta name="twitter:card" content="summary_large_image" />

        <meta property="og:url" content="<%- game.slug %>" />
        <meta
            property="og:title"
            content="<%- game.title %> — Infinity Arcade"
        />
        <meta property="og:description" content="<%- game.description %>" />

        <% if (game.image_data) { %>
        <meta
            property="og:image"
            content="/api/art/generate?game_id=<%= game.id %>"
        />
        <% } %> <% } else { %>
        <title>Infinity Arcade</title>
        <meta
            property="og:image"
            content="/images/banner.png"
        />
        <meta
            name="description"
            content="Infinity Arcade is an arcade that never ends."
        />
        <% } %>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">  
    </head>
    <script
        async
        src="https://www.googletagmanager.com/gtag/js?id=G-NC7YKE524N"
    ></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-NC7YKE524N");
    </script>
    <body class="bg-black w-full">
</html>
