<%- include("header.ejs") %>

<a href="/" class="w-full text-center flex items-center justify-center gap-4">
    <img src="/images/logo.png" alt="Infinity Arcade" class="h-6 opacity-60" />
    <div
        href="/"
        class="bg-gradient-to-br from-white to-gray-400 text-transparent bg-clip-text text-center py-4 text-sm opacity-60 tracking-wider inline-block"
    >
        Infinity Arcade
    </div>
</a>

<% let i = 0 %> <% let num = games.length %>

<div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 max-w-full mx-auto gap-8 md:gap-4 py-8 sm:px-4"
>
    <% for (const game of games) { %>
    <a
        href="/<%- game.slug %>"
        class="text-white flex flex-col bg-gray-900 rounded-xl shadow-lg transform hover:scale-105 transition-transform duration-200"
    >
        <div class="relative pb-10/16 rounded-xl">
            <img
                src="/api/game/<%- game.slug %>/art"
                alt="<%- game.title %>"
                class="h-full w-full rounded-t-xl"
            />
        </div>
        <div class="flex flex-col h-full gap-1 p-3">
            <div
                style="color: <%- game.primary_color %>"
                class="text-xl font-semibold truncate"
            >
                <%- game.title %>
            </div>
            <div class="text-gray-500 font-medium text-sm italic truncate">
                <%- game.genre %> <%- game.subgenre %>
            </div>
            <div class="text-sm font-bold mt-2"><%- game.tagline %></div>
        </div>
    </a>
    <% if (++i % 32 == 0 || i == num) { %>
    <a
        href="/generate"
        class="text-white p-4 flex flex-col gap-4 bg-gray-900 rounded-xl shadow-lg transform hover:scale-105 transition-transform duration-200 cursor-pointer"
    >
        <div
            class="relative pb-10/16 rounded-xl flex items-center justify-center bg-gray-800"
        ></div>
        <div
            class="flex flex-col h-full gap-1 justify-center items-center py-44"
        >
            <div class="text-xl font-semibold">Generate Game</div>
        </div>
    </a>
    <% } %> <% } %>
</div>
<a href="https://themaximalist.com">
    <img
        src="/images/themaximalist.png"
        id="themaximalist"
        class="mx-auto h-8 mt-16"
        alt="The Maximalist"
    />
</a>
<%- include("footer.ejs") %>
