<%- include("header.ejs") %>

<div
    class="w-full text-center flex items-center justify-between lg:justify-center gap-4 px-2 lg:px-0"
>
    <a href="/" class="flex items-center gap-2">
        <img
            src="/images/logo.png"
            alt="Infinity Arcade"
            class="w-6 lg:w-8 opacity-60"
        />
        <div
            href="/"
            class="bg-gradient-to-br from-white to-gray-400 text-transparent bg-clip-text text-center py-4 text-xs lg:text-sm opacity-60 tracking-wider inline-block"
        >
            Infinity Arcade News
        </div>
    </a>
</div>

<div class="container mx-auto text-white max-w-4xl my-4 px-4">
    <div class="prose">
        <ul class="list-decimal ml-12 lg:ml-20 space-y-6 my-8">
            <% topStoriesData.map(story => { %>
            <li>
                <div class="">
                    <a
                        href="/<%= story.url %>"
                        target="_blank"
                        class="text-purple-500"
                    >
                        <%- story.title %>
                    </a>

                    <a
                        href="<%= story.url %>"
                        class="text-gray-300 text-xs opacity-50 hover:opacity-100 transition-opacity"
                        >story</a
                    >
                    <a
                        href="https://news.ycombinator.com/item?id=<%= story.id %>"
                        class="text-gray-300 text-xs opacity-50 hover:opacity-100 transition-opacity"
                        >comments</a
                    >
                </div>
            </li>
            <% }) %>
        </ul>
    </div>
    <div class="prose flex flex-col gap-4">
        <p>
            This page scrapes the top 20 stories from Hacker News and generates
            interactive text games on-the-fly for each story.
        </p>

        <p>
            To create a game, go to infinityarcade.com/anything you want to make
            a game about
        </p>
    </div>
</div>
<%- include("scripts.ejs") %>
<!-- -->
<%- include("footer.ejs") %>
