<%- include("../header.ejs") %>

<div class="w-full text-center flex items-center justify-between lg:justify-center gap-4 px-2 lg:px-0">
    <a href="/" class="flex items-center gap-2">
        <img src="/images/logo.png" alt="Infinity Arcade" class="w-6 lg:w-8 opacity-60" />
        <div href="/" class="bg-gradient-to-br from-white to-gray-400 text-transparent bg-clip-text text-center py-4 text-xs lg:text-sm opacity-60 tracking-wider inline-block">
            Infinity Arcade
        </div>
    </a>
</div>

<div class="container mx-auto text-white max-w-4xl my-4 mt-8 lg:mt-20 px-4 flex flex-col gap-8">
    <div>
        <h1 class="text-2xl lg:text-4xl font-bold my-4 text-yellow-500">
            <%- title %>
        </h1>
        <span class="text-yellow-200"><%- description %></span>
    </div>
    <div class="prose py-2 flex flex-col gap-6 leading-relaxed">
        <p>
            We recently added

            <a class="text-yellow-100 underline" href="https://www.riffusion.com">Riffusion</a> to Infinity Arcade, a generative music system that creates soundtracks for video games.
        </p>

        <p>
            Previously, we rotated through a few static mp3s for the background music. This was fine, but it got repetitive quickly. We wanted to add more variety to the music, and ultimately make it generated for the game, just like the concept, story and art.
        </p>

        <p>
            Infinity Arcade now gets soundtrack ideas from GPT-4 and then uses Riffusion to generate the music. Riffusion actually generates a spectrogram using image generation software, and then converts it to audio. If that sounds wild, it's because it is—but it works!
            Try it out at
            <a class="text-yellow-100 underline" href="https://www.riffusion.com">Riffusion</a>
            or
            <a class="text-yellow-100 underline" href="https://www.infinityarcade.com">Infinity Arcade</a>.
        </p>

        <img src="/images/articles/funky_sax.gif" class="max-w-sm" />

        <p class="text-xs">Credit <a href="https://www.riffusion.com/about">Riffusion</a></p>

        <p>Generated music was the last missing piece to make video games 100% generated from a prompt.</p>
        <p>Infinity Arcade generates a concept from your prompt, an interactive game story, unique game art, and a soundtrack to match the game.</p>

        <a class="text-yellow-100 underline" href="https://www.infinityarcade.com">Try it out!</a>
    </div>
</div>
<%- include("../scripts.ejs") %>
<!-- -->
<%- include("../footer.ejs") %>