<%- include("../header.ejs") %>

<div class="w-full text-center flex items-center justify-between lg:justify-center gap-4 px-2 lg:px-0">
    <a href="/" class="flex items-center gap-2">
        <img src="/images/logo.png" alt="Infinity Arcade" class="w-6 lg:w-8 opacity-60" />
        <div href="/" class="bg-gradient-to-br from-white to-gray-400 text-transparent bg-clip-text text-center py-4 text-xs lg:text-sm opacity-60 tracking-wider inline-block">
            Infinity Arcade
        </div>
    </a>
</div>

<div class="container mx-auto text-white max-w-4xl my-4 mt-8 lg:mt-20 px-4 flex flex-col gap-8">
    <div>
        <h1 class="text-2xl lg:text-4xl font-bold my-4 text-yellow-500">
            <%- title %>
        </h1>
        <span class="text-yellow-200"><%- description %></span>
    </div>
    <div class="prose py-2 flex flex-col gap-6 leading-relaxed">
        <a href="/">
            <img src="/images/articles/infinityarcade-product.png" alt="Infinity Arcade" class="w-full max-w-sm rounded-lg" />
        </a>

        <p>Welcome to the world of <a class="text-yellow-100 underline" href="/">Infinity Arcade</a>, where you can play any game you can think of!</p>

        <p>Ever wondered how this magical arcade was built? Stick around to find out the tech behind it.</p>

        <h2 class="text-xl lg:text-2xl text-yellow-200 mt-10">What is Infinity Arcade?</h2>

        <p>Imagine an arcade that isn't bound by the games you see, but by the games you dream of. It's not just any arcade; it's a playground that allows you to play any game you can imagine, thanks to the wonders of artificial intelligence (AI).</p>

        <p>Behind the scenes, Infinity Arcade uses AI models like Large Language Models and Stable Diffusion to generate the text and images you're seeing.</p>

        <p>Game Concept and Engine: ChatGPT, an advanced language learning model, crafts the game's concept and runs the game engine.</p>
        <p>Game Art: The visual elements, though primarily text-based in this context, are conjured up by StableDiffusion, ensuring that every game has its unique flair.</p>

        <p>This blend of ChatGPT and StableDiffusion is what makes Infinity Arcade a place where the impossible becomes possible. You can generate games on the fly, inspired by anything from the latest news to the contents of your own website.</p>

        <p>
            Infinity Arcade is open-source, <a class="text-yellow-100 underline" href="https://github.com/themaximal1st/InfinityArcade">view it's source code</a>
        </p>

        <h2 class="text-xl lg:text-2xl text-yellow-200 mt-10">Free to Play, Free to Create</h2>

        <p>One of the best things about Infinity Arcade? It's free!</p>

        <p>Head over to <a href="/">infinityarcade.com</a>, and dive into the games already created or craft your own.</p>

        <p>Yes, you can be a game developer too, no coding skills required. And if you're worried about ads, there's a way to keep your gaming experience uninterrupted. For just $8, you can Go Pro, unlocking extra features and supporting the site, all while staying ad-free.</p>

        <h2 class="text-xl lg:text-2xl text-yellow-200 mt-10">Creating Your Own Games</h2>

        <p>The idea of making your own game might seem daunting, but Infinity Arcade makes it a breeze. With a step-by-step guide, you'll be crafting your own text adventure games in seconds. Whether it's a quest in a mystical land or a detective story in a noir setting, the only limit is your imagination.</p>

        <h2 class="text-xl lg:text-2xl text-yellow-200 mt-10">Your New Favorite Gaming Destination</h2>

        <p>Infinity Arcade isn't just an arcade; it's a revolution in the gaming world. Built with groundbreaking AI technology, it opens up endless possibilities for gaming enthusiasts. Whether you're playing or creating, Infinity Arcade offers an unparalleled experience—all for free.</p>

        <p>So what are you waiting for? Dive into the endless fun at Infinity Arcade and start creating the game of your dreams today!</p>

        <br />

        <p>
            <a class="text-yellow-100 underline" href="/">Visit Infinity Arcade</a>
        </p>
    </div>
</div>
<%- include("../scripts.ejs") %>
<!-- -->
<%- include("../footer.ejs") %>